.App {
  text-align: center;
}

.room-container{
  background-color: wheat;
}

.room-title{
  margin: 0.5rem;
}

.message-form{
  display: flex;
  justify-content: center;
  align-items: unset;
}

.connected{
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
}

.connected span {
  color: rgb(0, 190, 0);
  margin-right: 0.4rem;
}

.box-chatting{
  display: flex;
  flex-direction: column-reverse;
  background-color: thistle;
  height: 16rem;
  overflow: scroll;
  overflow-x: hidden;
}

/* .messages-to-center{
  align-items: center;
}

.messages-to-right{
  align-items: flex-end;
}

.messages-to-left{
  align-items: flex-start;
} */

.loading-container{
  position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 25vh
}

.notification-style{
  color: rgba(0, 0, 0, 0.70);
  font-size: 0.7rem;
}

.messages-style{
  margin-top: 4px;
}

.messages-to-right{
  margin-left: auto;
  margin-right: 0.5rem;
}

.messages-to-left{
  margin-left: 0.5rem;
  margin-right: auto;
}

.senders-style{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: 700;
}

.sesion-closed-container{
  position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 #000000, 
                  1px -1px 0 #000000, 
                 -1px 1px 0 #000000, 
                  1px 1px 0 #000000;
}

.sesion-closed{
  color: red;
  margin-top: -20vh;
  text-shadow: -1px -1px 0 #000000, 
                  1px -1px 0 #000000, 
                 -1px 1px 0 #000000, 
                  1px 1px 0 #000000;
}

.register{
  cursor: pointer;
  color: rgb(12, 12, 177);
  text-decoration: underline;
}