.App {
  text-align: center;
}

.room-container{
  background-color: wheat;
}

.message-form{
  display: flex;
  justify-content: center;
  align-items: unset;
}

.box-chatting{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: thistle;
  height: 16rem;
  overflow: scroll;
  overflow-x: hidden;
}

.messages-style{
  background-color: white;
  margin-top: 4px;
}

.senders-style{
  background-color: blue;
  margin: 0;
}